notify-channel:	ses

update-behavior:
  update-profile:	default
  update-message:	yes
  update-staging:	yes
  update-apply:		no
  update-hosname:	''
  update-emitters:	stio,email
  email-from:		no-reply@xyzzy.us
  smtp-relay:		localhost

ses:
  ses-id:		AKIAVFFUMWJVIMONSZZJ
  ses-key:		gkNXgauNqNulB6RyOTZTf06t+dExBAZ1pivQe7V/MgVK
  ses-endpoint:		email-smtp.us-west-2.amazonaws.com
  ses-recipient:	sys-owner@xyzzy.us
